$small: 576px;
$medium: 768px;
$large: 939px;
$extra-large: 1200px;

#root {
  overflow-y: hidden;
}

.overflowYHidden {
  overflow-y: hidden;
}

body {
  background: url("./ActivTrack Background2.jpeg") no-repeat center center fixed;
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  &.flex {
    display: flex;
    flex-flow: row wrap;

    &.vertical {
      flex-flow: column wrap;
    }
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 10px;

    &.no-gap {
      grid-gap: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }
}

.graph-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 25px;
  margin: 10px;
}
.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.centerDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.content {
  position: relative;
  transition: display 0.5s;
}

.lineChart {
  height: 400px;
  margin: 25px;
}

.homePageText {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 80vw;
  padding-top: 60px;
}

@media all and (min-width: $large) {
  .span-2 {
    grid-column: auto / span 2;
  }

  .span-3 {
    grid-column: auto / span 3;
  }
}

@media all and (max-width: $large) and (min-width: 630px) {
  .container.grid {
    div:first-child:nth-last-child(3) {
      grid-column: auto / span 2;
    }
  }
}

html {
  scroll-behavior: smooth;
}
// x px or smaller apply this css
// @media (max-width: )

// @media screen and (max-height: 750px) {
//   .UiComponentContainer {
//     min-height: 535px;
//   }
// }
