* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// Text Sizes

.mainText {
  font-size: 15px;
}

// display Paper for Folders and Workouts

.displayPaper {
  padding: 2;
  align-items: center;
  justify-content: center;
  color: orangered;
  max-width: 40rem;
  min-height: 5rem;
  padding: 1 rem;
  margin: auto;
}

.startWorkoutContainerFlex {
  display: flex;
}
.startWorkoutContainerGrid {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 2fr;
}
.startWorkoutContainerMobPortraitGrid {
  display: grid;
  grid-template-rows: 130px;
}
.startWorkoutContainerMobPortraitFlex {
  display: flex;
}

.startWorkoutContainerMobPortraitLandscape {
}

.pntR1 {
  display: flex;
  margin-top: 10px;
  margin: 20px 0px 10px;
}

.pntR3 {
}

.frameHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.runWorkoutContainer {
  margin: 15px;
  display: flex;
  // align-items: center;
  justify-content: center;
}
.runWorkoutContainer2 {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.UiComponentContainer {
  // padding: 8px 15px 5px;
  width: auto;
  // height: calc(100vh - 248px);
}

.flexKit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w50vw {
  // take the width out on mobile
  // width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.UiCC2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 0px 25px 0px;
}
// workout flow
.submitButton {
  margin: 0 10px !important;
}

.goToNextButton {
  width: 100%;
  height: 2vw;
}
.startButton {
  display: flex;
  width: 100%;
  margin-top: 10px;
  min-height: 45px;
}
.finButton {
  display: flex;
}
.exHeaders {
  // border-bottom: 3px solid darkblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.attributes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.attFields {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeMarginBottom {
  margin-bottom: 0;
}

.timer {
  position: relative;
  width: unset;
  height: unset;
  display: flex;
  justify-content: center;
  border: orange;
  border-style: double;
  border-width: thin;
  padding: 10px;
}

.attPaper {
}
.timeAlert {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: 600;
  margin: 10px;
  border-color: orangered;
  border-width: thin;
  border-style: double;
}

.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .horizontal1 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 10px;
// }

.horizontal1 div {
  color: #26a69a;
  font-size: 20px;
}

.horizontal2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal3 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.center2 {
  margin: auto;
  width: 80vw;
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
}
.marginLeft20 {
  margin-left: 20px;
}
.saveButtonCont {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px;
}
.saveButton {
  width: 70%;
  height: 5vh;
  min-height: 50px;
}

.autoRollSwitch {
  margin-left: 0px;
}

.soundSwitch {
}

.restPeriodDisplay {
  padding-left: 5px;
}
.repDisplay {
  padding: 5px;
}

.removeFlexFlow {
  flex-flow: unset;
}

.setDisplay {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  // margin-top: 15px;
}

// workout's ui

.exContainer {
  display: flex;
  margin: 10px;
  align-items: center;
  .exStack {
    margin-left: 10px;
    padding: 3px;
    background: #ff5722;
    border-radius: 0.5rem;
    width: 100%;
  }
  .exStackMobP {
    margin-left: 10px;
    // padding: 3px;
    background: #ff5722;
    border-radius: 0.5rem;
    width: 100%;
  }
  .exCircuit {
    display: grid;
    margin-left: 10px;
    grid-gap: 4px;
    background: #ffab40;
    border-radius: 0.25rem;
    padding: 4px;
    width: 100%;
  }

  .exCircuitMobPort {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
    grid-gap: 15px;
    background: #ffab40;
    border-radius: 0.5rem;
    padding: 10px;
    width: 100%;
  }

  .exPaper {
    min-height: 26px;
    align-items: center;
    display: grid;
    padding: 10px;
    opacity: 0.99;
  }
  .exPaper:hover {
    opacity: 0.9;
  }
}

.phaseTitle {
  font-size: 27px;
  font-weight: 300;
  font-family: "Roboto";
  font-style: italic;
  margin-bottom: 25px;
  text-decoration: underline;
}

.phaseTitle2 {
  font-size: 27px;
  font-weight: 350;
  font-family: "Roboto";
  font-style: italic;
  margin-bottom: 25px;
  text-decoration: underline;
  color: #ff5722;
}
.exTitle {
  font-size: 17px;
  margin: 0;
  margin-bottom: 3px;
  color: #ff5722;
}

.orange {
  color: #ff5722;
}
.marginTop10 {
  margin-top: 10px;
}
.fsize20 {
  font-size: 20px;
}
.exPaperAtts {
  margin: 0;
  color: #047b6d;
}

.autoRollText {
  color: #ff5722;
}

.exTitleWorkout {
  font-size: 33px;
  color: #f57c00;
  font-weight: 400;
  font-family: "Roboto";
  text-decoration-line: none;
  // margin-bottom: 15px;
  // border-bottom: 3px solid darkblue;
  // padding: 0px 10px;
  width: max-content;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  // padding-bottom: 10px;
}

.attCards {
}

.atts {
}

.phaseNtype {
}

.switches {
  display: flex;
  justify-content: space-around;
  // border-bottom: 3px solid darkblue;
  margin: 0px 35px;
}

#phaseDisp {
  margin-left: 100px;
}

#typeDisp {
  margin-right: 100px;
}

.cardRepRest {
  font-size: 20px;
  color: #26a69a;
}
.setNum {
  margin: 0;
  margin-bottom: 10px;
  color: #ff5722;
  font-family: "Roboto";
}

.exPhase0 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  margin: 0;
  margin-bottom: 3px;

  color: #f57c00;
  width: 50%;
}

.exType0 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  margin: 0;
  margin-bottom: 3px;

  color: #f57c00;
  width: 50%;
}

.setGoal {
  margin: 10px;
  font-size: 20px;
  color: #ff5722;
}
.workoutPaper {
  max-width: fit-content;
  margin: 10px;
}
// buttons
// ÷82b1ff
.button {
  text-size-adjust: 1 rem;
  max-width: 30rem;
  margin: 2 rem;
  width: 70%;
  height: 5vh;
  min-height: 50px;
}

.editWorkoutBtn {
  width: 50%;
  text-size-adjust: 1 rem;
  max-width: 30rem;
  margin: 2 rem;
  height: 4vh;
  min-height: 50px;
}
// Workouts exercise display
.circuit {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 5px;
  border-style: dotted;
  border-color: orangered;
  border-radius: 3px;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 5px;
  border-style: solid;
  border-color: rgb(181, 197, 184);
  border-radius: 3px;
}

// timer styles

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.setTag {
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setBtn {
  line-height: 1;
  padding: 0px 15px;
  min-width: 72px;
}

// exercise Drawer
.exSideDrawerParent {
}

.exSideDrawerHeader {
  max-height: calc(100vh - 94px);
  overflow-y: scroll;
}

.exSideDrawerHeaderMobPortrait {
  display: inline-flex;
  max-height: calc(100vh - 94px);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.phantomDiv {
  // display: none;
  height: 81px;
}

.displayBlock {
  display: block;
}

.noRp {
  min-height: 24px;
  margin: 20px;
}

.attCardCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.attCardCont2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.attCardDiv {
  margin: 5px;
  // padding: 7px;
}

.attCardP {
  color: #f57c00;
  font-size: 20px;
  margin: 0px;
}

.attCardPMobPort {
  color: #f57c00;
  font-size: 16px;
  margin: 0px;
}

.exCardCont {
  display: flex;
  width: 100vw;
}

.exCardContMobPort {
  display: flex;
  width: 100vw;
  height: 130px;
}

.exStackPort {
  width: 65vw;
  margin: 10px;
}

.UiCompAttFieldsCont {
  width: 100%;
}

.circPaperMobPort {
  width: 240px;
}

.sourceList {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 15vw;
  min-width: 130px;
  height: 50vh;
  overflow-y: auto;
  padding: 15px;
  margin-left: 15px;
  & p:last-child {
    padding-bottom: 25px;
  }
}

// .sourceList p:last-child {
//   padding-bottom: 15px;
// }

.sideListItem {
  cursor: pointer;
  color: #f57c00;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

.sideListItemCont {
}
.sideListItemAtts {
  cursor: pointer;
  color: #f57c00;
  font-size: 16px;
  margin: 0px;
  margin-left: 20px;
}

.graphHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  justify-items: center;
  grid-row-gap: 10px;
  margin-top: 30px;
}

.graphCaption {
  color: #f57c00;
  font-size: 10px;
}

.statsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  margin-bottom: 30px;
  color: #f57c00;
}

.graphHeaderTitle {
  color: #f57c00;
  font-size: 27px;
}

.graphHeaderExTitle {
  color: #f57c00;
  font-size: 35px;
}

.restPeriodCard2 {
  background-color: #f9e79f;
}

.restPeriodDisplay2 {
}

.blueGreen {
  color: #26a69a;
}

.nextEx {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-row-gap: 5px;
}
.blueGreen h4 {
  margin: 0px;
  font-size: 15px;
  border-bottom-style: dashed;
  border-width: thin;
  width: fit-content;
}

.blueGreen p {
  margin: 0px;
}

.rpInput {
  height: 15px;
  /* padding: 0px; */
  margin-top: 15px;
}

.breakTitle {
  border: double;
}

.lineChart {
  align-items: center;
  justify-content: center;
  display: flex;
}

.exLineChart {
  align-items: center;
  justify-content: center;
  display: flex;
}

.statsParentFlexCont {
  align-items: center;
  justify-content: center;
  display: flex;
}
